{#
Macros to  create markup Layout Builder containers (.section, .wrapper and .area)

{% macro section(override = {}, name = false, classes = []) %}
{% macro wrapper(override = {}, name = false, classes = []) %}
{% macro area(override = {}, name = false, classes = []) %}

Overrideable settings are {layout, section_width, color_scheme, vertical_align, inner_gap}
Setting "layout" is mandatory
Grid layouts need extra classes for "grid-tempalte-rows" on wrapper and the "grid-area" as name on areas
Flex layouts need extra classes for "justify-content" on wrapper and for "flex" on areas


Examples:
#######################################################################

{% import '@wt_frontend/_partials/_lb.macro.twig as lb %}
{% set my_settings = {
  'layout': 'onerow__3col',
  'section_width': 'limited',
  'colorscheme': 'dark-over-light',
  'vertical_align': 'vertical-align-top',
  'inner_gap': 'gap-small',
} %}

{{ lb.section(my_settings, 'flexLayoutExample') }}
{{ lb.wrapper(my_settings, 'flexLayoutExample', ['wrapper--onerow-flex-start']) }}

{{ lb.area(my_settings, 'col1', ['area--onerow-1-1@xs-up', 'area--onerow-1-2@sm-up']) }}
<p>Content of my first area with 50% width and vertical top alignment</p>
</div>

{{ lb.area(my_settings, 'col2', ['area--onerow-1-1@xs-up', 'area--onerow-1-4@sm-up']) }}
<p>Content of my second area with 25% width and vertical top alignment</p>
</div>

{% set my_settings = my_settings|merge({'vertical_align': 'vertical-align-bottom'}) %}
{{ lb.area(my_settings, 'col3', ['area-flex', 'area--onerow-1-1@xs-up', 'area--onerow-1-4@sm-up']) }}
<p>Content of my third area with 25% width and vertical bottom alignment</p>
</div>

</div>
</div>

#######################################################################

{% import '@wt_frontend/_partials/_lb.macro.twig as lb %}
{% set my_settings = {
  'layout': 'lg1sm2__lg_left',
  'section_width': 'limited',
  'colorscheme': 'dark-over-light',
  'vertical_align': 'vertical-align-top',
  'inner_gap': 'gap-small',
} %}

{{ lb.section(my_settings, 'gridLayoutExample') }}
{{ lb.wrapper(my_settings, 'gridLayoutExample, ['wrapper--rows-min-min]) }}

{{ lb.area(my_settings, 'large') }}
<p>Content of my large area. The name must match the css "grid-area" identifier. Both rows have "min-content" content as row height</p>
</div>

{{ lb.area(my_settings, 'upper_small') }}
<p>Content of my upper small area</p>
</div>

{{ lb.area(my_settings, 'lower_small', ['pt-3rem']) }}
<p>Content of my lower small area and with additional 3rem padding-top</p>
</div>

</div>
</div>
#}

{% macro section(override = {}, name = false, classes = []) %}
  {% set default = {
    'layout': false,
    'section_width': 'limited',
    'colorscheme': 'dark-over-light',
  } %}
  {% set settings = default|merge(override) %}
  {% set settings = settings|merge( {'layout_family': settings.layout|split('__')|first()} ) %}

  {% set section_attributes = create_attribute({
    'class': [
      'section',
      name ? 'section--' ~ name,
      (settings.layout_family != settings.layout) ? 'section--' ~ settings.layout_family,
      'section--' ~ settings.layout,
      'section--' ~ settings.section_width,
      'colorscheme',
      'colorscheme--' ~ settings.colorscheme,
    ]|merge(classes)
  }) %}

  <div {{ section_attributes }}>
{% endmacro %}

{# depending on grid or flex layout, add classes for grid-template-rows or justify-content #}
{% macro wrapper(override = {}, name = false, classes = []) %}
  {% set default = {
    'layout': false,
    'section_width': 'limited',
    'inner_gap': 'gap-small',
  } %}
  {% set settings = default|merge(override) %}
  {% set settings = settings|merge( {'layout_family': settings.layout|split('__')|first()} ) %}

  {% set wrapper_attributes = create_attribute({
    'class': [
      'wrapper',
      name ? 'wrapper--' ~ name,
      (settings.layout_family != settings.layout) ? 'wrapper--' ~ settings.layout_family,
      'wrapper--' ~ settings.layout,
      'wrapper--' ~ settings.section_width,
      'wrapper--' ~ settings.inner_gap,
    ]|merge(classes)
  }) %}

  <div {{ wrapper_attributes }}>
{% endmacro %}

{# name should match grid-area name, in case of onerow add flex classes #}
{% macro area(override = {}, name = false, classes = []) %}
  {% set default = {
    'layout': false,
    'vertical_align': 'vertical-align-top',
    'inner_gap': 'gap-small',
  } %}
  {% set settings = default|merge(override) %}
  {% set settings = settings|merge( {'layout_family': settings.layout|split('__')|first()} ) %}

  {% set area_attributes = create_attribute({
    'class': [
      'area',
      (settings.layout_family != settings.layout) ? 'area--' ~ settings.layout_family,
      'area--' ~ settings.layout,
      (settings.layout_family != settings.layout) ? 'area--' ~ settings.layout_family,
      (name and settings.layout_family != settings.layout) ? 'area--' ~ settings.layout_family ~ '--' ~ name,
      name ? 'area--' ~ settings.layout ~ '--' ~ name,
      'area--' ~ settings.inner_gap,
      'area--' ~ settings.vertical_align,
    ]|merge(classes)
  }) %}

  <div {{ area_attributes }}>
{% endmacro %}
