{#
 # To change the default attribute/classes in a child theme, modify the existing
 # attribute object inside a child {% block %} (not on root level of template)
 #
 # The most likely attribute to change is the one holding the "more"-link:
 # @attribute linkmore_attribute
 #
 # There are two optional entity objects available in this template:
 # bc...the outgoing "link" block_content container entity
 #    (null e.g. in node teaser view mode)
 # target_entity...the content entity the being linked to
 #    (in node teaser view modes the target_entity is the node itself.
 #     null if "link" block_content targeting an external link
 #     or an internal non-content-entity like a views page)
 #}

{% set container_attributes = create_attribute({'class': [
  'linkblock',
  'linkblock--' ~ view_mode,
  'linkblock--' ~ (bc ? 'fromblock' : 'fromviewmode'),
  target_entity ? 'linkblock--' ~ target_entity.bundle,
  view_mode == 'imgback' ? 'colorscheme',
  view_mode == 'imgback' ? 'colorscheme--light-over-image',
]}) %}

{% set imgwrapper_attributes = create_attribute({'class': [
  'linkblock__imgwrapper',
  'linkblock__imgwrapper--' ~ view_mode,
  'linkblock__imgwrapper--' ~ (bc ? 'fromblock' : 'fromviewmode'),
  target_entity ? 'linkblock__imgwrapper--' ~ target_entity.bundle,
]}) %}

{# the 'linkblock__imgcanvas--linked' class triggers the linkblock link when clicking on a linkblock image #}
{# @see '@wt_frontend/js/wt_frontend.js' / Drupal.behaviors.wtLinkblockImageAsMoreLink #}
{% set imgcanvas_attributes = create_attribute({'class': [
  'linkblock__imgcanvas',
  'linkblock__imgcanvas--' ~ view_mode,
  'linkblock__imgcanvas--' ~ (bc ? 'fromblock' : 'fromviewmode'),
  target_entity ? 'linkblock__imgcanvas--' ~ target_entity.bundle,
  url ? 'linkblock__imgcanvas--linked',
]}) %}

{% set textwrapper_attributes = create_attribute({'class': [
  'linkblock__textwrapper',
  'linkblock__textwrapper--' ~ view_mode,
  'linkblock__textwrapper--' ~ (bc ? 'fromblock' : 'fromviewmode'),
  target_entity ? 'linkblock__textwrapper--' ~ target_entity.bundle,
]}) %}

{% set title_attributes = create_attribute({'class': [
  'linkblock__title',
  'linkblock__title--' ~ view_mode,
  'linkblock__title--' ~ (bc ? 'fromblock' : 'fromviewmode'),
  target_entity ? 'linkblock__title--' ~ target_entity.bundle,
]}) %}

{% set morewrapper_attributes = create_attribute({'class': [
  'linkblock__morewrapper',
  'linkblock__morewrapper--' ~ view_mode,
  'linkblock__morewrapper--' ~ (bc ? 'fromblock' : 'fromviewmode'),
  target_entity ? 'linkblock__morewrapper--' ~ target_entity.bundle,
]}) %}

{% set detaillink_attributes = create_attribute({'class': [
  'linkblock__link',
  'linkblock__link--detail',
  'linkblock__link--' ~ view_mode,
  'linkblock__link--' ~ (bc ? 'fromblock' : 'fromviewmode'),
  target_entity ? 'linkblock__linkmore--' ~ target_entity.bundle,
]}) %}

{# if target_entity.bundle in ['room', 'package'] #}
{% set booklink_attributes = create_attribute({'class': [
  'linkblock__link',
  'linkblock__link--book',
  'linkblock__link--' ~ view_mode,
  'linkblock__link--' ~ (bc ? 'fromblock' : 'fromviewmode'),
  target_entity ? 'linkblock__link--' ~ target_entity.bundle,
]}) %}

{# if target_entity.bundle in ['room', 'package'] #}
{% set enquirelink_attributes = create_attribute({'class': [
  'linkblock__link',
  'linkblock__link--enquire',
  'linkblock__link--' ~ view_mode,
  'linkblock__link--' ~ (bc ? 'fromblock' : 'fromviewmode'),
  target_entity ? 'linkblock__link--' ~ target_entity.bundle,
]}) %}

{% set render_description = render_description ?? (view_mode != 'imgback') %}

{% set has_linkblock_link = false %}
{% set is_entity_link = false %}
{% if bc.bundle == 'link' %}
  {% if bc.field_link.0.uri and bc.field_link.0.title %}
    {% set has_linkblock_link = true %}
  {% endif %}
{% else %}
  {% set is_entity_link = (url ? true : false) %}
{% endif %}
{% set render_morelinks = render_morelinks ?? (has_linkblock_link or is_entity_link) %}
{% set text_detaillink = text_detaillink|default("Details"|t) %}

{% block container %}
  <div {{ container_attributes }}>
    {% block images %}
      <div {{ imgwrapper_attributes }}>
        {% block image_canvas %}
          <div {{ imgcanvas_attributes }}>
            {% block image %}
              {{ content.field_images }}
            {% endblock %}
          </div>
        {% endblock %}
      </div>
    {% endblock %}

    {% block text %}
      <div {{ textwrapper_attributes }}>
        {% block title_wrapper %}
          <h{{ header_level|default(3) }} {{ title_attributes }}>
            {% if url %}<a href="{{ url }}">{% endif %}
              {% block title %}
                {{ label }}
              {% endblock %}
            {% if url %}</a>{% endif %}
          </h{{ header_level|default(3) }}>
        {% endblock %}

        {% block description %}
          {% if render_description %}
            {{ content.body.0 ? content.body }}
          {% endif %}
        {% endblock %}

        {% block links %}
          {% if render_morelinks %}
            <div {{ morewrapper_attributes }}>
              {% block detaillink_wrapper %}
                <a href="{{ url }}" {{ detaillink_attributes|without('href') }}>
                  {% block detaillink %}
                    {{ text_detaillink }}
                  {% endblock %}
                </a>
              {% endblock %}
              {% block actionlinks %}

                {% block enquirelink_wrapper %}
                  {% if drupal_config('system.site', 'page.enquire') and target_entity.bundle in ['room', 'package'] %}
                    {# @todo: use a nice url instead of /node/X for the link #}
                    <a href="{{ drupal_config('system.site', 'page.enquire') }}" {{ enquirelink_attributes|without('href') }}>
                      {% block enquirelink %}
                        {{ 'Enquire'|t({}, {'context': 'Call to action'}) }}
                      {% endblock %}
                    </a>
                  {% endif %}
                {% endblock %}

                {% block booklink_wrapper %}
                  {% if drupal_config('system.site', 'page.book') and target_entity.bundle in ['room', 'package'] and target_entity.remote_id.0.value %}
                    {# @todo: use a nice url instead of /node/X for the link #}
                    <a href="{{ drupal_config('system.site', 'page.book') }}" {{ booklink_attributes|without('href') }}>
                      {% block booklink %}
                        {{ 'Book'|t({}, {'context': 'Call to action'}) }}
                      {% endblock %}
                    </a>
                  {% endif %}
                {% endblock %}

              {% endblock %}
            </div>
          {% endif %}
        {% endblock %}
      </div>
    {% endblock %}
  </div>
{% endblock %}
