{# extend this template to quickly create one single onerow__1col section-wrapper-area markup #}
{# for other layouts, multpile sections, or for already extented templates, use the macro instead #}

{% set attributes = attributes ?? create_attribute() %}
{% set wrapper_attributes = wrapper_attributes ?? create_attribute() %}
{% set area_attributes = area_attributes ?? create_attribute() %}

{% set bem_block = bem_block ?: FALSE %}
{% set bem_modifer = bem_modifer ?: FALSE %}

{% set section_width = section_width ?: 'limited' %}
{% set colorscheme = colorscheme ?: 'dark-over-light' %}
{% set horizontal_align = horizontal_align ?: 'flex-start' %}
{% set vertical_align = vertical_align ?: 'vertical-align-top' %}
{% set gap = gap ?: 'gap-small' %}

{% set attributes = attributes.addClass([
  bem_block ? bem_block,
  (bem_block and bem_modifier) ? (bem_block ~ '--' ~ bem_modifer),
  'section',
  bem_block ? 'section--' ~ bem_block,
  'section--onerow',
  'section--onerow--1col',
  'section--' ~ section_width,
  'colorscheme',
  'colorscheme--' ~ colorscheme,
]) %}

{% set wrapper_attributes = wrapper_attributes.addClass([
  bem_block ? bem_block ~ '__wrapper',
  (bem_block and bem_modifier) ? (bem_block ~ '__wrapper' ~ '--' ~ bem_modifer),
  'wrapper',
  bem_block ? 'wrapper--' ~ bem_block,
  'wrapper--onerow',
  'wrapper--onerow__1col',
  'wrapper--onerow--' ~ horizontal_align,
  'wrapper--' ~ gap,
]) %}

{% set area_attributes = area_attributes.addClass([
  bem_block ? bem_block ~ '__area',
  (bem_block and bem_modifier) ? (bem_block ~ '__area' ~ '--' ~ bem_modifer),
  'area',
  bem_block ? 'area--' ~ bem_block,
  'area--onerow',
  'area--onwrow__1col',
  'area--onwrow__1col--col1',
  'area--flex',
  'area--onerow-1-1@xs-up',
  'area--' ~ gap,
  'area--' ~ vertical_align,
]) %}

{% block container %}
  <div {{ attributes }}>
    {% block wrapper %}
      <div {{ wrapper_attributes }}>
        {% block area %}
          <div {{ area_attributes }}>
            {% block content %}
              {{ content }}
            {% endblock %}
          </div>
        {% endblock %}
      </div>
    {% endblock %}
  </div>
{% endblock %}
