/* Error: Can't find stylesheet to import.
 *   ,
 * 1 | / @use "../../../../../libraries/sal.js/src/sal.scss" as * with (
 * 2 | |   $sal-animation-duration: 0.6s,
 * 3 | |   $sal-slide-offset: 100px
 * 4 | | );
 *   | '-^
 *   '
 *   scss/libraries/sal.scss 1:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 1 \2502  \250c  @use \"../../../../../libraries/sal.js/src/sal.scss\" as * with (\a 2 \2502  \2502    $sal-animation-duration: 0.6s,\a 3 \2502  \2502    $sal-slide-offset: 100px\a 4 \2502  \2502  );\a   \2502  \2514 \2500 ^\a   \2575 \a   scss/libraries/sal.scss 1:1  root stylesheet";
}
