@use "sass:map";
@use "sass:color";
@use "mixins/bp";

/**
 *
 * Default config
 * only CSS variables here, no SASS variables
 */
:root {
  --font-family--system: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

  --font-family--base: var(--font-family--system);
  --font-style--base: normal;
  --font-weight--base: normal;
  --font-weight--bold: bold;

  --font-family--decorative: var(--font-family--base);
  --font-style--decorative: var(--font-style--base);
  --font-weight--decorative: var(--font-weight--base);

  --font-size--base: 16px;
  --font-size: var(--font-size--base);
  --font-size--minor: calc(var(--font-size) - 1px);
  @include bp.only(md) {
    --font-size: calc(var(--font-size--base) + 1px);
    --font-size--minor: calc(var(--font-size) - 2px);
  }
  @include bp.up(lg) {
    --font-size: calc(var(--font-size--base) + 2px);
    --font-size--minor: calc(var(--font-size) - 3px);
  }

  --line-height: 1.5;
  --letter-spacing: normal;
  --vertical-text-spacer: 1rem;



  // use fast for e.g. link hover effect
  --transition-duration--fast: 150ms;
  // use slow for e.g. header scroll animations
  --transition-duration--slow: 800ms;
  --transition-easing--if-fast: linear;
  --transition-easing--if-slow: ease-in-out;
  --transition--fast: all var(--transition-duration--fast) var(--transition-easing--if-fast);
  --transition--slow: all var(--transition-duration--slow) var(--transition-easing--if-slow);



  // use fixed for "permanently visible" elements like fixed header or fixed nav
  --z-index--fixed: 400;
  // use modal for "requires action" elements like fly-ins, fullscreen nav or similar
  // (which usually are not permanently visible)
  --z-index--modal: 1200;



  // @see "a" rule in reset.scss, intended for inline links inside running text
  --anchor--text-decoration: unset;

  // "special font" link or button style, intended for standalone links, e.g. in linkblock component
  // use padding + border only when creating special underlines not possible with text-decoration
  --anchor--more--padding: 0;
  // do not set border-color here, @see .colorscheme  var(--anchor--more--border-color) instead
  --anchor--more--border-bottom: 0 none;
  --anchor--more--text-decoration: none;
  --anchor--more--font-family: var(--font-family--base);
  --anchor--more--font-weight: var(--font-weight--bold);
  --anchor--more--font-style: var(--font-style--base);
  --anchor--more--font-size: var(--font-size--minor);
  --anchor--more--line-height: calc(var(--anchor--more--font-size) * 1rem);
  --anchor--more--letter-spacing: normal;
  --anchor--more--text-transform: uppercase;


  // global presets for headings
  // individual levels can also be overwritten by adding variables like
  // --header3--font-family: my-custom-header3-font, serif;
  // @see elements/typography.scss @mixin header($level)
  --header--font-family: var(--font-family--decorative);
  // this name scheme can be used with every property, not just font-size
  --header1--font-size: 2.5rem;
  --header2--font-size: 2rem;
  --header3--font-size: 1.5rem;
  --header4--font-size: 1rem;
  --header5--font-size: var(--font-size--minor);
  --header6--font-size: 0.75rem;
  --header--font-weight: var(--font-weight--decorative);
  --header--font-style: var(--font-style--decorative);
  --header--line-height: 1.15;
  --header--letter-spacing: unset;
  --header--text-transform: unset;
  --header--text-decoration: unset;

  // global presets for buttons
  // individual colors can be overwritten on .colorscheme--XXX level
  // @see elements/buttons.scss @mixin btn--YYY
  --btn--padding-x: 0.5rem;
  --btn--padding-y: 0.25rem;
  // use y-top and y-bottom to correct a non-middle baseline of bad fonts
  --btn--padding-y-top: var(--btn--padding-y);
  --btn--padding-y-bottom: var(--btn--padding-y);
  --btn--border-width--base: 1px;
  --btn--border-width--outline: 2px;
  --btn--border-width: var(--btn--border-width--base);
  --btn--border-radius: 0;
  --btn--border-color: transparent;
  --btn--font-family: unset;
  --btn--font-weight: unset;
  --btn--font-style: unset;
  --btn--font-size: unset;
  //buttons might have a smaller --btn--font-size but still should have the same line height like normal text
  --btn--line-height: calc(var(--font-size) * var(--line-height));
  --btn--letter-spacing: unset;
  --btn--text-transform: unset;
  --btn--text-align: center;



  // @see elements/inputs.scss
  --inp--padding-x: 0.5em;
  --inp--padding-y: var(--btn--padding-y);
  --inp--border-width: var(--btn--border-width--base);
  --inp--border-radius: var(--btn--border-radius);
  --inp--font-family: var(--font-family--base);
  --inp--font-weight: unset;
  --inp--font-style: unset;
  --inp--font-size: var(--font-size);
  --inp--line-height: var(--line-height);



  //the "real" dynamic viewport height on mobile devices (scrolling address bar!)
  //e.g. used for fullheight mainnav overlay with or without address bar
  //@see wt_frontend.js / Drupal.wt.getViewportHeightProperty()
  --viewport-height: 100vh;
  //the real viewport height on mobile, not updated after initial page load
  //e.g. used for fullheight banner (height does not change when address bar becomes invisible)
  --viewport-height--initial: 100vh;

  //menu variables used by JS
  //@see wt_frontend.js / Drupal.wt.openMenu, Drupal.wt.closeMenu
  --menu--animation: collapse; //set by <ul> and breakpoint
  //@see wt_hoverintent.js
  --menu--open-on-hover: false; //set by <ul> and breakpoint
}

// we do not set colors on :root level, because we are changing them depending on nested
// ".colorscheme" elements, so overrides must also go into a ".colorscheme" selector
// use "functional" CSS color variables and not SASS color variables
// (if functional colors are not possible, colorscheme specific overrides are also needed)
.colorscheme, body.cke_editable {
  --anchor--color: var(--color--highlight);
  --anchor--color-accent: var(--color--highlight-accent);

  --anchor--more--color: var(--color--foreground);
  --anchor--more--color-accent: var(--color--highlight);
  --anchor--more--border-color: var(--anchor--more--color);
  --anchor--more--border-color-accent: var(--anchor--more--color-accent);

  --header--color: var(--color--highlight);
  --header--color-accent: var(--color--highlight-accent); //only used for nested links

  --btn--color-foreground: var(--color--highlight-inverse);
  --btn--color-background: var(--color--highlight);
  --btn--border-color: var(--btn--color-background);
  --btn--color-accent: var(--color--highlight-accent);

  --inp--border-color: rgba(var(--color--foreground), 0.7);
  --inp--color-foreground: var(--color--foreground);
  --inp--color-background: var(--color--background);
}

//this must be on body element because toolbar classes are attached/changing there
body {
  --toolbar-height: 0px;

  //default toolbar height if logged in as admin
  &.toolbar-fixed {
    --toolbar-height: 48px;

    &.toolbar-horizontal.toolbar-tray-open {
      --toolbar-height: 97px;
    }
  }
}

.wt__header {
  // also @see wt_frontend.js / Drupal.wt.getFixedTop()
  // this is in .wt__header and not on body or :root because it is dependant on banners
  --fixed-top: var(--toolbar-height);
}
