@use "mixins/bp";

* {
  box-sizing: border-box;
}

html {
  height: 100%;

  // remember that changing variables only in a nested element will not trigger re-evaluation of the style rule at
  // that nested element. you must also repeat the style rule at that element.
  // possible workaround, maybe change: move these rules to a "*" selector so they are always evaluated
  // (but this would have bad side effects too, like overriding non-inherited browser default styles such as background-color)
  font-size: var(--font-size);
  font-family: var(--font-family--base);
  font-weight: var(--font-weight--base);
  font-style: var(--font-style--base);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);

  color: var(--color--foreground);
  background-color: var(--color--background);

  // normalize.css: Prevent adjustments of font size after orientation changes in iOS.
  -webkit-text-size-adjust: 100%;

  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.cke_editable:not(.cke_editable_inline) {
  margin: 10px;
}

b, strong {
  font-weight: var(--font-weight--bold);
}

a {
  color: var(--anchor--color);
  text-decoration: var(--anchor--text-decoration);
  transition: var(--transition--fast);

  &:hover, &:focus {
    color: var(--anchor--color-accent);
  }
}

:focus {
  outline: 0 none;
}

:focus-visible {
  outline: initial;
}

img {
  border: 0;
}

// in a running text context, for simplicity we avoid margin-collapse
// and instead never use margin-top, only margin-bottom
// we do not use owl-selector * + * because margin is depending on preceding element
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, ol, ul:not(.nav__ul), dl, table, blockquote {
  margin-top: 0;
  // use em instead of rem for margin correlating with the font size
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

// normalize.css: Correct the inability to style clickable types in iOS and Safari.
button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

// normalize.css: Correct the inability to style clickable types in iOS and Safari.
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

// remove spinners and other junk controls
[type="number"], [type="search"] {
  -webkit-appearance: none;
  appearance: none;
}

/**
 * CK Editor classes
 */
.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-justify {
  text-align: justify;
}

.cktext--xxl {
  font-size: 4em;

  @include bp.only(xs) {
    font-size: 2.75em;
  }
}

.cktext--large {
  font-size: 1.35em;
}

.cktext--small {
  font-size: 0.85em;
}

.cktext--alt {
  color: var(--color--alt);
}
