@use "mixins/utils";
@use "mixins/bp";

//
// General utilities
//
.clearfix {
  @include utils.clearfix;
}

.visually-hidden, .sr-only {
  @include utils.visually-hidden;
}

.img-fluid {
  @include utils.img-fluid;
}

.img-responsive {
  @include utils.img-responsive;
}

.list-reset {
  @include utils.list-reset;
}

//
// Visibility
//

.is-collapsed {
  display: none;
}

.is-expanded {
  display: block;
}

.hidden {
  display: none !important;
}

@each $key, $label in bp.$set {
  @include bp.only($key) {
    .hidden\@#{$key}, %hidden\@#{$key} {
      display: none !important;
    }
  }

  @include bp.up($key) {
    .hidden\@#{$key}-up, %hidden\@#{$key}-up {
      display: none !important;
    }
  }

  @include bp.down($key) {
    .hidden\@#{$key}-down, %hidden\@#{$key}-down {
      display: none !important;
    }
  }
}
