{% extends '@paragraphs/paragraph.html.twig' %}
{% if paragraph.field_colorschema.0.value %}
  {% set attributes = attributes.addClass(['colorscheme', 'colorscheme--' ~ paragraph.field_colorschema.0.value]) %}
{% endif %}
