{% block pager %}
  {% if items.previous or items.next %}
    {% if not items.previous %}
      {% set pager_directions = 'first' %}
    {% elseif not items.next %}
      {% set pager_directions = 'last' %}
    {% else %}
      {% set pager_directions = 'twoway' %}
    {% endif %}
    <nav role="navigation" aria-labelledby="{{ heading_id }}" class="nav nav--pager pager pager--mini pager--{{ pager_directions }}">
      <div id="{{ heading_id }}" class="visually-hidden">{{ 'Pagination'|t }}</div>
      <ul class="js-pager__items nav__ul nav__ul--pager pager__ul pager__ul--{{ pager_directions }}">
        {% block prev %}
          {% if items.previous %}
            <li class="nav__li nav__li--pager pager__li pager__li--prev">
              {% set linkAttr = items.previous.attributes %}
              {% set linkAttr = linkAttr.addClass(['nav__a', 'nav__a--pager', 'pager__a', 'pager__a--next']) %}
              <a href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev"{{ linkAttr|without('href', 'title', 'rel') }}>
                <span class="visually-hidden">{{ 'Previous page'|t }}</span>
                <span aria-hidden="true">{% block prev_icon %}{{ items.previous.text|default('‹‹'|t) }}{% endblock %}</span>
              </a>
            </li>
          {% endif %}
        {% endblock %}
        {% block current %}
          {% if items.current %}
            <li class="nav__li nav__li--pager pager__li pager__li--current">
              <span class="nav__a nav__a--pager pager__a pager__a--current">
                {% block current_text %}
                  {% trans %}
                    Page {{ items.current }}
                  {% endtrans %}
                {% endblock %}
              </span>
            </li>
          {% endif %}
        {% endblock %}
        {% block next %}
          {% if items.next %}
            <li class="nav__li nav__li--pager pager__li pager__li--next">
              {% set linkAttr = items.next.attributes %}
              {% set linkAttr = linkAttr.addClass(['nav__a', 'nav__a--pager', 'pager__a', 'pager__a--next']) %}
              <a href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next"{{ linkAttr|without('href', 'title', 'rel') }}>
                <span class="visually-hidden">{{ 'Next page'|t }}</span>
                <span aria-hidden="true">{% block next_icon %}{{ items.next.text|default('››'|t) }}{% endblock %}</span>
              </a>
            </li>
          {% endif %}
        {% endblock %}
      </ul>
    </nav>
  {% endif %}
{% endblock %}
