@use "sass:color";

/**
 * PROJECT SPECIFIC, CONSTANT COLOR DEFINITIONS
 * - Colors are defined using SASS variables to allow precalculated color manipulations like
 *     $primary: green;
 *     $primary-accent: color.mix(black, $primary, 15%);
 * - Default SASS colors in this file can be overwritten by making an early initialize import of this file like
       @use "mixins/cs" with ($primary: red);
 * - Every SASS color variables generates a corresponding, prefixed CSS variable in ":root" scope like
 *     --CONST--color--primary: $primary;
 *     --CONST--color--primary-accent: $primary-accent;
 * - These colors are treated as design tokens must never be changed after their initialization
 * - Within mixins those design tokens are mapped to dynamic, functional variables
 *     @mixin dark-over-light() {--color--highlight: var(--CONST--color--primary);}
 *     @mixin light-over-dark() {--color--highlight: var(--CONST--color--foreground-light):}
 * - Functional colors are:
 *     - "foreground": foreground color / text color
 *     - "background": background color
 *     - "highlight": very loud color, e.g. as text color for headers and links or as fill-color for CTA buttons, usually primary CI color
 *     - "alt": alternative loud color, e.g for text in another color or as fill-color for alternative buttons, usually secondary CI color
 *     - "highlight-inverse": contrast color to "highlight" color (e.g. when button is filled with "highlight" color, then use "highlight-inverse" for text)
 *     - "alt-inverse": contrast color to "alt" color (e.g. when button is filled with "alt" color, then use "alt-inverse" for text)
 *     - "highlight-accent": action / hover variant of "highlight" color, e.g. hover-effect for text links with "highlight" as text color
 *     - "alt-accent": action / hover variant of "alt" color, e.g. hover-effect for text links with "alt" as text color
 * - To change the colorscheme mapping logic, @use and @forward this file in in the child theme mixin wrapper
 *     @forward "@PARENT_THEME_PATH/mixins/cs" hide fancy-colorscheme;
 *     @use "@PARENT_THEME_PATH/mixins/cs";
 *     @mixin fancy-colorscheme() { ...overwrite parent mixin with your custom mapping logic here... }
 * - This file is not allowed to generate any CSS output when compiled and therefore must not contain any CSS rules
 */

// primary CI color, usually used for headers and very loud buttons
$primary: #aa272f !default;
$primary-inverse: white !default;
$primary-accent: color.mix(black, $primary, 15%) !default;
// secondary CI color, usually used for headers and loud buttons (but more stained than primary)
$secondary: #888 !default;
$secondary-inverse: white !default;
$secondary-accent: color.mix(black, $primary, 15%) !default;

//
// default color scheme, @see .context--dark-over-light
//
$foreground-dark: #333 !default;
$background-light: white !default;
// alternative running text color (usually intros or similar; NOT headings, buttons,...)
$alt: $secondary !default;
$alt-inverse: $secondary-inverse !default;
$alt-accent: $secondary-accent !default;

//
// dark text over gray or another slightly accented background, @see .context--light-over-gray
// ideally this scheme is completely similar to the default scheme except the BG
//
$background-gray: #eee !default;

//
// light text over dark background, @see .context--light-over-dark
//
$foreground-light: white !default;
$background-dark: #333 !default;
$highlight-overdarkbg: $foreground-light !default;
$highlight-overdarkbg-inverse: $background-dark !default;
$highlight-overdarkbg-accent: color.mix(black, $foreground-light, 15%) !default;
$alt-overdarkbg: $alt !default;
$alt-overdarkbg-inverse: $alt-inverse !default;
$alt-overdarkbg-accent: $alt-accent !default;

//
// inverse over garish (usually $primary) color, @see .context--inverse-over-garish
//
$foreground-overgarishbg: $primary-inverse !default;
$background-overgarishbg: $primary !default;
$highlight-overgarishbg: $primary-inverse !default;
$highlight-overgarishbg-inverse: $primary !default;
$highlight-overgarishbg-accent: mix(black, $primary-inverse, 15%) !default;
$alt-overgarishbg: $alt !default;
$alt-overgarishbg-inverse: $alt-inverse !default;
$alt-overgarishbg-accent: $alt-accent !default;

//
// dark text over light image, @see .context--dark-over-image
//
$foreground-overlightimage: $foreground-dark !default;
$background-overlightimage: transparent !default;
$highlight-overlightimage: $primary !default;
$highlight-overlightimage-inverse: $primary-inverse !default;
$highlight-overlightimage-accent: $primary-accent !default;
$alt-overlightimage: $alt !default;
$alt-overlightimage-inverse: $alt-inverse !default;
$alt-overlightimage-accent: $alt-accent !default;

// light text over dark image, @see .context--light-over-image
$foreground-overdarkimage: $foreground-light !default;
$background-overdarkimage: transparent !default;
$highlight-overdarkimage: $highlight-overdarkbg !default;
$highlight-overdarkimage-inverse: $highlight-overdarkbg-inverse !default;
$highlight-overdarkimage-accent: $highlight-overdarkbg-accent !default;
$alt-overdarkimage: $alt-overdarkbg !default;
$alt-overdarkimage-inverse: $alt-overdarkbg-inverse !default;
$alt-overdarkimage-accent: $alt-overdarkbg-accent !default;

@mixin evaluate-foreground-and-background-color {
  // CSS rules are evaluated at the level where they are applied. changing a CSS variable
  // in a nested child element will not trigger re-evaluation of a style inherited from a parent node.
  // therefore explicitly repeat "color" and "background-color" rule in every single colorscheme-mixin
  color: var(--color--foreground);
  background-color: var(--color--background);
}

@mixin dark-over-light() {
  --color--foreground: var(--CONST--color--foreground-dark);
  --color--background: var(--CONST--color--background-light);
  --color--highlight: var(--CONST--color--primary);
  --color--highlight-inverse: var(--CONST--color--primary-inverse);
  --color--highlight-accent: var(--CONST--color--primary-accent);
  --color--alt: var(--CONST--color--alt);
  --color--alt-inverse: var(--CONST--color--alt-inverse);
  --color--alt-accent: var(--CONST--color--alt-accent);
  @include evaluate-foreground-and-background-color;
}

@mixin dark-over-gray() {
  --color--foreground: var(--CONST--color--foreground-dark);
  --color--background: var(--CONST--color--background-gray);
  --color--highlight: var(--CONST--color--primary);
  --color--highlight-inverse: var(--CONST--color--primary-inverse);
  --color--highlight-accent: var(--CONST--color--primary-accent);
  --color--alt: var(--CONST--color--alt);
  --color--alt-inverse: var(--CONST--color--alt-inverse);
  --color--alt-accent: var(--CONST--color--alt-accent);
  @include evaluate-foreground-and-background-color;
}

@mixin light-over-dark() {
  --color--foreground: var(--CONST--color--foreground-light);
  --color--background: var(--CONST--color--background-dark);
  --color--highlight: var(--CONST--color--highlight-overdarkbg);
  --color--highlight-inverse: var(--CONST--color--highlight-overdarkbg-inverse);
  --color--highlight-accent: var(--CONST--color--highlight-overdarkbg-accent);
  --color--alt: var(--CONST--color--alt-overdarkbg);
  --color--alt-inverse: var(--CONST--color--alt-overdarkbg-inverse);
  --color--alt-accent: var(--CONST--color--alt-overdarkbg-accent);
  @include evaluate-foreground-and-background-color;
}

@mixin inverse-over-garish() {
  --color--foreground: var(--CONST--color--foreground-overgarishbg);
  --color--background: var(--CONST--color--background-overgarishbg);
  --color--highlight: var(--CONST--color--highlight-overgarishbg);
  --color--highlight-inverse: var(--CONST--color--highlight-overgarishbg-inverse);
  --color--highlight-accent: var(--CONST--color--highlight-overgarishbg-accent);
  --color--alt: var(--CONST--color--alt-overgarishbg);
  --color--alt-inverse: var(--CONST--color--alt-overgarishbg-inverse);
  --color--alt-accent: var(--CONST--color--alt-overgarishbg-accent);
  @include evaluate-foreground-and-background-color;
}

@mixin dark-over-image() {
  --color--foreground: var(--CONST--color--foreground-overlightimage);
  --color--background: var(--CONST--color--background-overlightimage);
  --color--highlight: var(--CONST--color--highlight-overlightimage);
  --color--highlight-inverse: var(--CONST--color--highlight-overlightimage-inverse);
  --color--highlight-accent: var(--CONST--color--highlight-overlightimage-accent);
  --color--alt: var(--CONST--color--alt-overlightimage);
  --color--alt-inverse: var(--CONST--color--alt-overlightimage-inverse);
  --color--alt-accent: var(--CONST--color--alt-overlightimage-accent);
  @include evaluate-foreground-and-background-color;
}

@mixin light-over-image() {
  --color--foreground: var(--CONST--color--foreground-overdarkimage);
  --color--background: var(--CONST--color--background-overdarkimage);
  --color--highlight: var(--CONST--color--highlight-overdarkimage);
  --color--highlight-inverse: var(--CONST--color--highlight-overdarkimage-inverse);
  --color--highlight-accent: var(--CONST--color--highlight-overdarkimage-accent);
  --color--alt: var(--CONST--color--alt-overdarkimage);
  --color--alt-inverse: var(--CONST--color--alt-overdarkimage-inverse);
  --color--alt-accent: var(--CONST--color--alt-overdarkimage-accent);
  @include evaluate-foreground-and-background-color;
}
