@mixin clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@mixin visually-hidden {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute!important;
  width: 1px !important;
  white-space: nowrap !important;
}

@mixin sr-only {
  @include visually-hidden;
}

@mixin img-fluid {
  display: block;
  width: 100%;
  height: auto;
}

@mixin img-responsive {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}

@mixin list-reset {
  list-style-type: none;
  padding: 0;
  margin: 0;

  > li {
    margin-left: 0;
  }
}
