@use "../../../../../libraries/sal.js/src/sal.scss" as * with (
  $sal-animation-duration: 0.6s,
  $sal-slide-offset: 100px
);

[data-sal='slide-inwards'] {
  opacity: 1;
  transform: none;

  .linkblock__imgwrapper, .linkblock__textwrapper {
    opacity: 0;
    transition-property: opacity, transform;

    &.sal-animate, body.sal-disabled & {
      opacity: 1;
      transform: none;
    }
  }

  .linkblock__imgwrapper {
    &--imgleft {
      transform: translateX(-$sal-slide-offset);
    }
    &--imgright {
      transform: translateX($sal-slide-offset);
    }
  }

  .linkblock__textwrapper {
    &--imgleft {
      transform: translateX($sal-slide-offset);
    }
    &--imgright {
      transform: translateX(-$sal-slide-offset);
    }
  }
}
