{% extends '@wt_frontend/block/block.html.twig' %}
{% block content %}
  <div class="bc-separator__spacer pb-{{ bc.field_verticalpadding_xs.0.value }}@xs pb-{{ bc.field_verticalpadding_sm.0.value }}@sm pb-{{ bc.field_verticalpadding_md.0.value }}@md pb-{{ bc.field_verticalpadding_lg.0.value }}@lg"></div>
{% endblock %}
