{% extends '@wt_frontend/_partials/_linkblock.html.twig' %}
{# remap block_content fields to their node field counterparts #}
{% set url = bc.field_link.0.url %}
{% set text_detaillink = bc.field_link.0.title %}
{% if not bc.field_title.isEmpty %}
  {% set label = bc.field_title.0.value %}
{% else %}
  {% set label = target_entity.label %}
{% endif %}
{% if not (bc.field_text.isEmpty ?? true) and content.field_text %}
  {% set content = content|merge({'body': content.field_text}) %}
{% endif %}
