<!DOCTYPE html>
<html>
  <head>
    <css-placeholder token="{{ placeholder_token }}">
    <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, noydir, noimageindex" />
  </head>
  <body style="margin: 0">
    {{ media|raw }}
  </body>
</html>
