{% extends '@wt_frontend/node/node.html.twig' %}
{# manually set page to true due bug in layout builder (no "page" flag when lb + full view) #}
{% set page = true %}
{% set attributes = attributes.setAttribute('data-ga-label', node.bundle) %}
