{#
  "no junk" node override template.
  for junk @see core/themes/stable9/content/node.html.twig
#}
{% block container %}
  {% set title_classes = (title_classes ?? [])|merge([
    'node__title',
    'node__title--' ~ view_mode,
    'node__title--' ~ node.bundle(),
    node.bundle() ~ '__title',
    node.bundle() ~ '__title--' ~ view_mode,
  ]) %}

  <div{{ attributes }}>
    {% block title %}
      {% if label and not (page ?? false) %}
        <h{{ header_level|default(3) }}{{ title_attributes.addClass(title_classes) }}>
          <a href="{{ url }}">{{ label }}</a>
        </h{{ header_level|default(3) }}>
      {% endif %}
    {% endblock %}

    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
{% endblock %}
