.bc-image {
  &__image_zoom {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }

  .area--vertical-align-stretch & {
    .field__item--media_image {
      display: flex;

      img {
        object-fit: cover;
      }
    }
  }
}
