@use "../mixins/bp";

/**
 *
 * all view modes
 *
 */
.linkblock {
  position: relative;

  &__imgcanvas--linked {
    cursor: pointer;
  }

  &__textwrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

    .area--vertical-align-center & {
      justify-content: center;
    }
  }

  &__morewrapper {
    /*
     * This is the vertical min spacing text <--> links. Override padding-top and do not use margin-top,
     * we need the margin for vertically justifying links accross regions
     */
    padding-top: 1rem;

    .area--vertical-align-stretch & {
      /*
       * This should be left untouched to allow bottom justified "detail links" in link blocks accross
       * different regions
       */
      margin-top: auto;
    }
  }

}

/**
 *
 * viewmode imgback
 *
 */
.linkblock {
  &--imgback {
    .area--vertical-align-stretch & {
      .linkblock__imgwrapper--imgback {
        height: 100%;

        div, article {
          height: 100%;
        }
      }

      .field__item--type-image {
        display: flex;
        height: 100%;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &__imgwrapper--imgback {
    .field__item--type-image {
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0.6) 100%);
      }
    }
  }

  &__textwrapper--imgback {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    max-width: calc(100% - 3rem);

    .wrapper--cols-3-1-1 .area--tall1wide1sm2--tall &, .wrapper--cols-4-3-3 .area--tall1wide1sm2--tall & {
      bottom: 2rem;
      left: 2rem;
    }
  }

  &__title--imgback {
    font-weight: 500;
    font-size: 1.1rem;

    .wrapper--cols-3-1-1 .area--tall1wide1sm2--tall &, .wrapper--cols-4-3-3 .area--tall1wide1sm2--tall & {
      font-size: 1.75rem;
    }

  }
}

/**
 *
 * viewmode imgleft & imgright
 *
 */

.linkblock {
  &--imgleft, &--imgright {
    display: flex;
    flex-flow: row wrap;
  }

  &__imgwrapper {
    &--imgleft, &--imgright {
      flex: 0 0 auto;
      @include bp.only(xs) {
        order: -1;
        width: 100%;
        margin-bottom: 1.5rem;
      }

      @include bp.only(sm) {
        width: 360px; /* override in child theme as required, text will fit itself */
      }

      @include bp.up(md) {
        width: 540px; /* override in child theme as required, text will fit itself */
      }
    }
    @include bp.up(sm) {
      &--imgright {
        order: 1;
      }
    }
  }

  &__textwrapper {
    &--imgleft, &--imgright {
      flex: 1 1 0;
      width: auto;
    }

    &--imgleft {
      @include bp.up(sm) {
        padding-left: var(--grid--gap);
      }
    }

    &--imgright {
      @include bp.up(sm) {
        padding-right: var(--grid--gap);
      }
    }
  }
}

/**
 *
 * viewmode imgtop
 *
 */

.linkblock {
  &--imgtop {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
  }

  &__textwrapper--imgtop {
    margin-top: 1.5rem;

    .area--vertical-align-stretch & {
      flex: 1 1 100%;
    }
  }
}
