.media-oembed-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: var(--media-oembed-wrapper--ratio, 56.25%);

  > * {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
