{% block container %}
  <div{{ attributes }}>
    {% block title %}
      {{ title_prefix }}
      {% if label %}
        <div{{ title_attributes }}>{{ label }}</div>
      {% endif %}
      {{ title_suffix }}
    {% endblock %}

    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
{% endblock %}
