{% block container %}
  {% set bundle = bundle ?? content['#bundle']|default('BUNDLE_MISSING') %}
  {% set view_mode = view_mode ?? content['#view_mode']|replace({'_custom': 'full', '_default': 'full'})|default('VIEWMODE_MISSING') %}
  {% set title_attributes = title_attributes.addClass([
    'node__title',
    'node__title--' ~ bundle,
    bundle ~ '__title',
    bundle ~ '__title--' ~ view_mode
  ]) %}

  <div{{ attributes.addClass('block--field_block--node-title') }}>
    {% block content %}
      <h{{ header_level|default(1) }} {{ title_attributes }}>{{ content }}</h{{ header_level|default(1) }}>
    {% endblock %}
  </div>
{% endblock %}
