{#
  display field values in a GlideJS slider, but only if the field has more than 1 value

  quick config variables:
  -------------------------------
  - "show_arrows": render prev/next arrow markup (default true)
  - "show_bullets": render bullet nav markup (default false)

  view_modes:
  -------------------------------
  There are two pre-existing view modes:
  - "single" (default): one image per slide
  - "gallery" (for image gallery blocks): mulitple images per view, dynamic width based on desired min-width

  advanced customization options:
  -------------------------------
  - provide GlideJS settings via {% set attributes = attributes.setAttribute("data-glide-options", "JSON-String") %}
  - override Twig blocks and/or attributes (override attributes inside twig blocks in child theme, not in root scope!)
  - invent a new "glide_viewmode" and initialize it with its custom settings in a custom JS behavior
#}

{% set glide_viewmode = glide_viewmode|default('glide--single') %}

{% set glightbox = glightbox ?? false %}

{% set track_attributes = create_attribute() %}
{% set track_attributes = track_attributes.addClass('glide__track').setAttribute('data-glide-el', 'track') %}

{% set slides_attributes = create_attribute() %}
{% set slides_attributes = slides_attributes.addClass('glide__slides') %}

{% set arrows_attributes = create_attribute() %}
{% set arrows_attributes = arrows_attributes.addClass(['field__arrows', 'field__arrows--images', 'glide__arrows']).setAttribute('data-glide-el', 'controls') %}

{% set arrow_left_attributes = create_attribute() %}
{% set arrow_left_attributes = arrow_left_attributes.addClass(['field__arrow', 'field__arrow--images', 'field__arrow--left', 'field__arrow--left', 'glide__arrow', 'glide__arrow--left']).setAttribute('data-glide-dir', '<') %}

{% set arrow_right_attributes = create_attribute() %}
{% set arrow_right_attributes = arrow_right_attributes.addClass(['field__arrow', 'field__arrow--images', 'field__arrow--right', 'glide__arrow', 'glide__arrow--right']).setAttribute('data-glide-dir', '>') %}

{% set bullets_attributes = create_attribute() %}
{% set bullets_attributes = bullets_attributes.addClass(['field__bullets', 'field__bullets--images', 'glide__bullets']).setAttribute('data-glide-el', 'controls[nav]') %}

{% set bullet_button_attributes = create_attribute() %}
{% set bullet_button_attributes = bullet_button_attributes.addClass('field__bullet field__bullets--images glide__bullet') %}

{% block container %}
  {% set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
  ] %}

  {#
    The carousel JS should be omitted if there is only one child item.
    BUT:
    Entity reference fields are always included in items, even if they
    are empty (or invisible due missing permissions). So the only reliable
    way to count visible children is to render them all and check for
    visible output.

    @see https://drupal.stackexchange.com/questions/288454/how-to-tell-if-a-field-has-renderable-content-before-printing-html-around-it
  #}
  {% set renderable_children = [] %}
  {% for item in items %}
    {% if item.content|render|striptags('<img>')|trim %}
      {% set renderable_children = renderable_children|merge([loop.index]) %}
    {% endif %}
  {% endfor %}

  {% set show_slider = show_slider ?? ( renderable_children|length >= 2) %}
  {% if show_slider %}
    {% set attributes = attributes.addClass(['glide', glide_viewmode]) %}
    {{ attach_library('wt_frontend/glidejs') }}
  {% endif %}

  {% if glightbox %}
    {{ attach_library('wt_frontend/glightbox') }}
  {% endif %}

  {% block glide %}
    <div{{ attributes }}>
      {% block title %}
        {% if not (label_hidden ?? true) %}
          <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
        {% endif %}
      {% endblock %}

      {% block track %}
        {% block track_opener %}
          {% if show_slider %}
            <div {{ track_attributes }}><div {{ slides_attributes }}>
          {% endif %}
        {% endblock %}

        {% block content %}
          {% for item in items %}
            {% if loop.index in renderable_children %}
              {% set image_file_id = item.content['#media'].field_media_image.0.target_id ?? item.content['#item'].target_id %}
              {% set glightbox_href = (image_file_id and glightbox) ? image_file_id|image_entity_style('fullhd') : false %}
              {% set item_tag = glightbox_href ? 'a' : 'div' %}
              <{{ item_tag }} {% if glightbox_href %}href="{{ glightbox_href }}" data-glightbox="type: image;"{% endif %} {{ item.attributes.addClass(show_slider ? 'glide__slide').addClass(glightbox_href ? 'glightbox') }}>{% block item %}{{ item.content }}{% endblock %}</{{ item_tag }}>
            {% endif %}
          {% endfor %}
        {% endblock %}

        {% block track_closer %}
          {% if show_slider %}
            </div></div>
          {% endif %}
        {% endblock %}
      {% endblock %}

      {% block arrow %}
        {% if (show_arrows ?? true) and show_slider %}
          <div {{ arrows_attributes }}>
            {% block arrow_left %}
              <button {{ arrow_left_attributes }}>{% block arrow_left_icon %}{{ include('@wt_frontend/svg/chevron-left.svg.twig') }}{% endblock %}</button>
            {% endblock %}
            {% block arrow_right %}
              <button {{ arrow_right_attributes }}>{% block arrow_right_icon %}{{ include('@wt_frontend/svg/chevron-right.svg.twig') }}{% endblock %}</button>
            {% endblock %}
          </div>
        {% endif %}
      {% endblock %}

      {% block bullet %}
        {% if (show_bullets ?? false) and show_slider %}
          <div {{ bullets_attributes }}>
            {% set bullet_index = 0 %}
            {% for item in items %}
              {% if loop.index in renderable_children %}
                {% block bullet_button %}
                  <button {{ bullet_button_attributes|without('data-glide-dir') }}
                          data-glide-dir="={{ bullet_index }}">{% block bullet_text %}{% endblock %}</button>
                {% endblock %}
                {% set bullet_index = bullet_index + 1 %}
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      {% endblock %}

    </div>
  {% endblock %}
{% endblock %}
