{% extends '@wt_frontend/field/_field--with-glidejs.html.twig' %}

{% block container %}
  {% set glide_viewmode = 'glide--gallery' %}
  {% set attributes = attributes.setAttribute('data-glide-slides-minwidth', element['#object'].field_image_minwidth.0.value) %}
  {% set attributes = attributes.setAttribute('data-glide-options', '{"focusAt": 0, "gap": 2}') %}
  {% set glightbox = element['#object'].field_image_zoom.0.value %}
  {{ parent() }}
{% endblock %}
