{% extends '@wt_frontend/field/field.html.twig' %}
{# @see https://www.drupal.org/project/drupal/issues/3060968 patch 25  #}
{% block content %}
  {% for item in items %}
    {% if item.content['#attributes']['width'] > 0 and item.content['#attributes']['height'] > 0 %}
      {% set ratio = (item.content['#attributes']['height'] / item.content['#attributes']['width']) * 100 %}
    {% else %}
      {% set ratio = (9 / 16) * 100 %}
    {% endif %}
    <div{{ item.attributes.addClass('media-oembed-wrapper').setAttribute('style', '--media-oembed-wrapper--ratio: ' ~ ratio ~ '%;') }}>{{ item.content }}</div>
  {% endfor %}
{% endblock %}
