{# usually media entities use single cardinality image fields,
 # but link blocks create a fake media entity which contains
 # a multi-cardinality imagefield
 #}
{% extends '@wt_frontend/field/_field--with-glidejs.html.twig' %}
{% set glightbox = glightbox ?? false %}
