body.maintenance-page {
  --color--background--semitransparent: rgba(0,0,0,0.5);

  --color--primary: #ba1f2c;
  --color--primary-accent: #9e1a25;
  --color--primary-inverse: white;

  --color--foreground: white;
  --color--background: var(--color--background--semitransparent);
  --color--highlight: white;
  --color--accent: #ffd23f;

  --font-family-base: var(--font-family--system);
  --font-style-base: normal;
  --font-weight-base: 400;
  --font-weight-bold: 700;
  --font-style--base: normal;
  --font-size: 18px;
  --line-height: 1.4;
  --letter-spacing: normal;

  --btn--border-width--base: 1px;
  --btn--padding-x: 1em;
  --btn--padding-y: 0.5em;
  --btn--border-radius: 0;
  --btn--border-color: transparent;

  --inp--padding-x: 0.5em;
  --inp--padding-y: 0.25em;

  --login--sidepadding: 1em;
  --login--innerpadding: 2em;

  --anchor--text-decoration: underline;

  background-image: url(../../../../contrib/wt_frontend/images/login/background.jpg);
  background-size: cover;

  .dialog-off-canvas-main-canvas, .wt__theme, .wt__main {
    height: 100%;
  }

  .wt__main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
  }

  .login__header {
    margin: 0 auto;
    padding: 10vh var(--login--sidepadding) 10vh;
    width: 400px;
    max-width: 100%;
  }

  .login__logo {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    width: auto;
    max-height: 200px;
  }

  #messages-list {
    @extend %login_form_width;
    --color--background: var(--color--background--semitransparent);
  }

}

%login_form_width {
  width: 500px;
  max-width: calc(100vh - 2 * var(--login--sidepadding));
  margin: 0 auto;
}

.maintenance {
  @extend %login_form_width;
  text-align: center;

  background-color: var(--color--background);
  color: white;
  padding: var(--login--innerpadding);

  h1 {
    color: white;
    margin-bottom: 1rem;
  }

  > * + * {
    margin-top: var(--login--innerpadding);
  }
}
