@use "../elements.scss";

.pager {
  margin: 3rem 0;

  &__ul {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    margin: 0 auto;
  }

  &__li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  &__a {
    &--prev, &--next {
      @include elements.btn;
    }
    &--prev {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &--next {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &--current {
      @include elements.btn--outline;
      border-radius: 0;
      --btn--border-color: var(--color--highlight);
      cursor: default;

      &:hover, &:focus {
        /* remove button hover behavior, this is not clickable*/
        background-color: unset;
        border-color: var(--color--highlight);
        color: unset;
      }
    }
  }
}
