{# extend this template to quickly create a region with area markup #}

{% set section_width = section_width ?: 'limited' %}
{% set horizontal_align = horizontal_align ?: 'flex-start' %}
{% set vertical_align = vertical_align ?: 'vertical-align-top' %}
{% set gap = gap ?: 'gap-small' %}

{% set attributes = attributes.addClass([
  'area',
  'area--' ~ region,
  color_scheme ? 'colorscheme',
  color_scheme ? 'colorscheme--' ~ colorscheme,
]) %}

{% block container %}
  <div {{ attributes }}>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
{% endblock %}
