@mixin anchor--more {
  display: inline-block;

  color: var(--anchor--more--color);
  border-color: var(--anchor--more--border-color);

  padding: var(--anchor--more--padding);
  border-bottom: var(--anchor--more--border-bottom);

  font-family: var(--anchor--more--font-family);
  font-weight: var(--anchor--more--font-weight);
  font-style: var(--anchor--more--font-style);
  font-size: var(--anchor--more--font-size);
  line-height: var(--anchor--more--line-height);
  letter-spacing: var(--anchor--more--letter-spacing);
  text-transform: var(--anchor--more--text-transform);
  text-decoration: var(--anchor--more--text-decoration);
  white-space: nowrap;

  cursor: pointer;
  transition: var(--transition--fast);

  &:hover, &:focus {
    color: var(--anchor--more--color-accent);
    border-color: var(--anchor--more--border-color-accent);
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.9;
  }
}

// similar to default button, but a different (usually more subtle) background color
.anchor--more {
  @include anchor--more;
}
