@mixin btn {
  display: inline-block;
  margin: 0;
  padding: calc(var(--btn--padding-y-top) - var(--btn--border-width)) calc(var(--btn--padding-x) - var(--btn--border-width)) calc(var(--btn--padding-y-bottom) - var(--btn--border-width));
  border: var(--btn--border-width) solid;
  border-radius: var(--btn--border-radius);

  // default button colorscheme is primary color, but these three variables
  // will be overwritten in other button styles
  --btn--color-foreground: var(--color--highlight-inverse);
  --btn--color-background: var(--color--highlight);
  --btn--border-color: var(--btn--color-background);

  color: var(--btn--color-foreground);
  background-color: var(--btn--color-background);
  border-color: var(--btn--border-color);

  font-family: var(--btn--font-family);
  font-weight: var(--btn--font-weight);
  font-style: var(--btn--font-style);
  font-size: var(--btn--font-size);
  line-height: var(--btn--line-height);
  letter-spacing: var(--btn--letter-spacing);
  text-transform: var(--btn--text-transform);
  white-space: nowrap;
  text-align: var(--btn--text-align);

  cursor: pointer;
  transition: var(--transition--fast);

  &:hover, &:focus {
    --btn--color-background: var(--color--highlight-accent);
    color: var(--btn--color-foreground);
    background-color: var(--btn--color-background);
    border-color: var(--btn--border-color);
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.9;
  }
}

// default button style is flat, filled with a loud color in background and an inverse text
@mixin button {
  @include btn;
}

// all --btn--XXX--color-YYY properties _should_ stay unset
// all --btn--XXX--color-YYY properties _can_ be on set .colorscheme--ZZZ level
//   to uncouple button colors from text colors (e.g. white text over dark image, but buttons in color)
@mixin btn--primary {
  @include btn;

  --btn--color-foreground: var(--btn-primary--color-foreground, var(--color--highlight-inverse));
  --btn--color-background: var(--btn-primary--color-background, var(--color--highlight));
  --btn--border-color: var(--btn-primary--border-color, var(--btn--color-background));

  &:hover, &:focus {
    --btn--color-foreground: var(--btn-primary--color-foreground-accent, var(--color--highlight-inverse));
    --btn--color-background: var(--btn-primary--color-background-accent, var(--color--highlight-accent));
    --btn--border-color: var(--btn-primary--border-color-accent, var(--btn--color-background));
  }
}

// loud button for the primary call-to-action
.btn--primary, [type=submit] {
  @include btn--primary;
}

@mixin btn--secondary {
  @include btn;

  --btn--color-foreground: var(--btn-secondary--color-foreground, var(--color--alt-inverse));
  --btn--color-background: var(--btn-secondary--color-background, var(--color--alt));
  --btn--border-color: var(--btn-secondary--border-color, var(--btn--color-background));

  &:hover, &:focus {
    --btn--color-foreground: var(--btn-secondary--color-foreground-accent, var(--color--alt-inverse));
    --btn--color-background: var(--btn-secondary--color-background-accent, var(--color--alt-accent));
    --btn--border-color: var(--btn-secondary--border-color-accent, var(--btn--color-background));
  }
}

// similar to primary button, but a different (usually more subtle) background color
.btn--secondary {
  @include btn--secondary;
}


@mixin btn--outline {
  @include btn;

  --btn--border-width: var(--btn--border-width--outline);
  --btn--color-foreground: var(--btn-outline--color-foreground, var(--color--foreground));
  --btn--color-background: var(--btn-outline--color-background, transparent);
  --btn--border-color: var(--btn-outline--border-color, var(--btn--color-foreground));

  &:hover, &:focus {
    --btn--color-foreground: var(--btn-outline--color-foreground-accent, var(--color--highlight));
    --btn--color-background: var(--btn-outline--color-background-accent, transparent);
    --btn--border-color: var(--btn-outline--border-color-accent, var(--btn--color-foreground));
  }
}

// unfilled button with an outline/border
.btn--outline, [type=reset] {
  @include btn--outline;
}

@mixin btn--blank {
  @include btn;
  --btn--color-foreground: var(--color--foreground);
  --btn--color-background: transparent;
  --btn--border-color: transparent;

  &:hover, &:focus {
    --btn--color-foreground: var(--color--highlight);
    --btn--color-background: transparent;
    --btn--border-color: transparent;
  }
}

// button without button style, but with button dimensions/box/size
.btn--blank, .btn--nobtn {
  @include btn--blank;
}

@mixin btn--anchor {
  --btn--color-foreground: var(--color--highlight);
  --btn--color-background: transparent;
  --btn--font-family: unset;
  --btn--font-weight: unset;
  --btn--font-style: unset;
  --btn--font-size: unset;
  --btn--line-height: unset;
  --btn--letter-spacing: unset;
  --btn--text-transform: unset;
  margin: 0;
  padding: 0;
  border: 0 none;
  white-space: unset;

  &:hover, &:focus {
    --btn--color-foreground: var(--color--highlight-accent);
    --btn--color-background: transparent;
  }
}

// completely remove all button styles and make it look like an line text link
.btn--anchor {
  @include btn--blank;
}

