@mixin input {
  padding: calc(var(--inp--padding-y) - var(--inp--border-width)) calc(var(--inp--padding-x) - var(--inp--border-width));
  border: var(--inp--border-width) solid var(--inp--border-color);
  border-radius: var(--inp--border-radius);

  color: var(--inp--color-foreground);
  background: var(--inp--color-background);

  font-family: var(--inp-font-family);
  font-weight: var(--inp--font-weight);
  font-style: var(--inp--font-style);
  font-size: var(--inp--font-size);
  line-height: var(--inp--line-height);

  max-width: 100%;
}

input, textarea, select {
  @include input;
}

select {
  min-height: calc(var(--inp--line-height) * 1rem + var(--inp--padding-y) * 2 + var(--inp--border-width) * 2);
}