@mixin header($level) {
  @if ($level < 1 or $level > 6) {
    @error "Header level #{$level} must be between 1 and 6.";
  }
  color: var(--header#{$level}--color, var(--header--color));
  font-family: var(--header#{$level}--font-family, var(--header--font-family));
  font-size: var(--header#{$level}--font-size, var(--header--font-size));
  font-weight: var(--header#{$level}--font-weight, var(--header--font-weight));
  font-style: var(--header#{$level}--font-style, var(--header--font-style));
  line-height: var(--header#{$level}--line-height, var(--header--line-height));
  letter-spacing: var(--header#{$level}--letter-spacing, var(--header--letter-spacing));
  text-transform: var(--header#{$level}--text-transform, var(--header--text-transform));
  text-decoration: var(--header#{$level}--text-decoration, var(--header--text-decoration));

  > a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    text-decoration: none;

    &:hover, &:focus {
      color: var(--header#{$level}--color-accent, var(--header--color-accent));
    }
  }
}

@for $level from 1 through 6 {
  h#{$level}, .h#{$level} {
    @include header($level);
  }
}
