{% block html %}
<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
  {% block head %}
  <head-placeholder token="{{ placeholder_token|raw }}">
  <title>{{ head_title|safe_join(' | ') }}</title>
  <css-placeholder token="{{ placeholder_token|raw }}">
  <js-placeholder token="{{ placeholder_token|raw }}">
  {{ drupal_region('html_head') }}
  {% endblock %}
  <style type="text/css">
    :root {
      --viewport-height--initial: 100vh;
    }
  </style>
  <script>
    document.documentElement.style.setProperty('--viewport-height--initial', window.innerHeight + 'px');
  </script>
</head>
<body{{ attributes.addClass(['wt', 'wt--above']) }}>
  {% block body %}
  <a href="#main-content" class="visually-hidden focusable">
    {{ 'Skip to main content'|t }}
  </a>
  {{ page_top }}
  {{ page }}
  {{ page_bottom }}
  <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  {% endblock %}
</body>
</html>
{% endblock %}
