{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}

{% extends '@wt_frontend/layout/page.html.twig' %}

{% block wt__header %}{% endblock %}

{% block wt__main %}
  <main class="wt__main">

    {% block screenreader %}
      <a id="main-content" tabindex="-1"></a>
    {% endblock %}

    <div class="login__header">
      <img src="{{- drupal_config('wt_cms.settings', 'providerlogo')|default('/themes/contrib/wt_frontend/images/login/webtourismus.svg') -}}" class="login__logo">
    </div>

    {% block messages %}
      {{ page.messages }}
    {% endblock %}

    {% block content %}
      <div class="maintenance" id="maintenance-content">
        {% if title %}
          <h1 class="h--1">{{ title }}</h1>
        {% endif %}
        {{ page.content }}
        <div class="maintenance__countdown">{{ 'Page will be reloaded in <span class="maintenance__timer">@number</span> seconds.'|t({'@number': 180}) }}</div>
        <script>
          (function countdown(remaining) {
            if (remaining === 0) {
              location.reload();
            }
            document.querySelector('.maintenance__timer').innerHTML = remaining;
            setTimeout( function() { countdown(remaining - 1); }, 1000);
          })(180);
        </script>
      </div>

    {% endblock %}
  </main>
{% endblock %}

{% block wt__footer %}{% endblock %}
