{% extends '@wt_frontend/layout/page.html.twig' %}

{% block wt__header %}{% endblock %}

{% block wt__main %}
  <main class="wt__main">

    {% block screenreader %}
      <a id="main-content" tabindex="-1"></a>
    {% endblock %}

    <div class="login__header">
      <img src="{{- drupal_config('wt_cms.settings', 'providerlogo')|default('/themes/contrib/wt_frontend/images/login/webtourismus.svg') -}}" class="login__logo">
    </div>

    {% block messages %}
      {{ page.messages }}
    {% endblock %}

    {% block content %}
      {{ page.content }}
    {% endblock %}
  </main>
{% endblock %}

{% block wt__footer %}{% endblock %}
