{% block wt__theme %}
  <div class="wt__frontend" id="top">

    {% block wt__header %}
      {% set bannerHostEntity = bannerHostEntity|default(node) %}
      <header class="wt__header wt__header--above {% if bannerHostEntity.field_banner.isEmpty ?? true %}wt__header--no-banner{% else %}wt__header--banner wt__header--{{ bannerHostEntity.field_banner_viewmode.0.value }}{% endif %}">

        {% block header %}
          {% for key, region in page %}
            {% if key starts with 'header' %}
              {{ region }}
            {% endif %}
          {% endfor %}
        {% endblock %}

        {% block mainnav %}
          {% for key, region in page %}
            {% if key starts with 'mainnav' %}
              {{ region }}
            {% endif %}
          {% endfor %}
        {% endblock %}

        {% block banner %}
          {% if not (bannerHostEntity.field_banner.isEmpty ?? true) %}
            <div class="wt__banner wt__banner--{{ bannerHostEntity.field_banner_viewmode.0.value }}">
              {{ bannerHostEntity.field_banner|view('banner') }}

              {% for key, region in page %}
                {% if key starts with 'banner' %}
                  {{ region }}
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        {% endblock %}
      </header>
    {% endblock %}

    {% block wt__main %}
      <main class="wt__main">

        {% block screenreader %}
          <a id="main-content" tabindex="-1"></a>
        {% endblock %}

        {% block messages %}
          {{ page.messages }}
        {% endblock %}

        {% block content %}
          {{ page.content }}
        {% endblock %}
      </main>
    {% endblock %}

    {% block wt__footer %}
      <footer class="wt__footer">
        {% block footer %}
          {% for key, region in page %}
            {% if key starts with 'footer' %}
              {{ region }}
            {% endif %}
          {% endfor %}
        {% endblock %}
      </footer>
    {% endblock %}
  </div>

  {% block wt__invisible %}
    {{ page.invisible }}
  {% endblock %}

{% endblock %}
